{% extends "MediaSite/base.html" %}
{% block content %}

<style>
    .title{
        display: flex;
        justify-content: center;
        margin-top:30px;
        margin-bottom: 30px;
    }
    .title h1{
        color:var(--text-color);
    }
    .user-container{
        width: auto;
        height:auto;
        margin-bottom:30px;
    }
    .user-box{
        margin-bottom: 10px;
    }
    .user-info a, .add i{
        color: #fff;
    }
    .user-box h3, .shift-box h3, .ticket-box h3{
        color:#fff;
        font-size:1.25rem;
    } 
    .shift-container{
        margin-bottom:30px;
    }
    .ticket-container{
        margin-bottom: 30px;
    }
    .ticket-info, .shift-info{
        margin-bottom:10px;
    }
    .line{
        width:100%;
        color:#fff;
        height:2px;
        margin: 15px auto 30px;
    }
</style>

<div class="container admin-container">
    <div class="title">
        <h1>Список пользователей</h1>
    </div>
    <div class="container user-container">
        {% for user in users %}
        <div class="user-box">
            <h3 class="username">{{ forloop.counter }}. {{user.get_username}}</h3>
            <div class="user-info">
                <a style="color:#eee">Имя: {{user.first_name}}</a></br>
                <a style="color:#eee">Фамилия: {{user.last_name}}</a></br>
            </div>
        </div>
        {% endfor %}
        <div class="add">
            <i class='bx bx-plus'></i><a href="{% url 'register' %}"> Добавить пользователя</a>
        </div>
    </div>
    <div class="line line-light bg-light"></div>
    <div class="title">
        <h1>Проданные билеты</h1>
    </div>
    <div class="container ticket-container">
        {% for Ticket in tickets %}
        <div class="ticket-box">
        <h3 class="ticket_number">Билет №{{forloop.counter}}</h3>
        <div class="ticket-info">
            <a style="color:#eee">Фильм: {{Ticket.movie}}</a></br>
            <a style="color:#eee">Зритель: {{Ticket.user}}</a></br>
            {% if Ticket.status.name == "Оплачен" %}
            <a style="color:var(--btn-color)">Статус билета: {{Ticket.status}}</a></br>
            {% elif Ticket.status.name == "Не оплачен" %}
            <a style="color:var(--line-color)">Статус билета: {{Ticket.status}}</a></br>
            {% else %}
            <a style="color:#666666">Статус билета: {{Ticket.status}}</a></br>
            {% endif %}
            <a href="{% url 'update_ticket_status' ticket_id=Ticket.id %}" style="text-decoration:underline">Обновить статус</a>
        </div>
        </div>
        {% endfor %}
    </div>
    <div class="line line-light bg-light"></div>
    <div class="title">
        <h1>Смены</h1>
    </div>
    <div class="container shift-container">
        {% for Shift in shifts %}
        <div class="shift-box">
            <h3 class="name">{{forloop.counter}}. {{Shift.name}}({{Shift.start_time}}-{{Shift.end_time}})</h3>
            <div class="shift-info">
                <a style="color:#eee">Сотрудник: {{Shift.user}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}