{% extends "MediaSite/base.html" %}

{% block content %}

<style>
.container-fluid{
    width:100%;
    height:100vh;
    display:flex;
    margin:auto;
    justify-content:center;
    align-items:center;
}
.wrapper{
    width:420px;
    background:transparent;
    color:#fff;
    border-radius:15px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size:30px;
    text-align:center;
}

.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
    margin:30px 0;
}

.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255, 255, 255, .2);
    border-radius:15px;
    font-size:16px;
    color:#fff;
    padding:20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:#fff;
}

.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size:20px;
}

.wrapper .btn{
    width:100%;
    height:45px;
    background:#02ac70;
    border:none;
    outline:none;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor:pointer;
    font-size:16px;
    color:#fff;
    font-weight:600;
}
.superuser{
    margin-bottom: 30px;
}
.staff label input, .superuser label input{
    accent-color: var(--btn-color);
}
</style>

<div class="container-fluid">
    <div class="wrapper">
        <form method="post">
            {% csrf_token %}
            <h1>Добавление пользователя</h1>
            <div class="input-box">
                <input class="text" type="text" name="username" placeholder="Логин" title="Логин должен содержать минимум одну букву или цифру" required=""><i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input class="text" type="password" name="password1" placeholder="Пароль" title="Пароль должен содержать минимум восемь цифр и одну букву" required=""><i class='bx bx-lock-alt'></i>
            </div>
            <div class="input-box">
                <input class="text w3lpass" type="password" name="password2" placeholder="Подтвердите пароль" title="Повторите введённый ранее пароль"><i class='bx bx-check-circle' ></i>
            </div>
            <div class="staff">
                <label><input type="checkbox" name="is_staff" title="Присвоение пользователю статуса 'Персонал'"> Персонал</label>
            </div>
            <div class="superuser">
                <label><input type="checkbox" name="is_superuser" title="Присвоение пользователю статуса 'Суперпользователь'"> Суперпользователь</label>
            </div>
            <button type="submit" class="btn">Добавить</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

{% endblock content %}